:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--mint-green: #bfd0c6;
  --mustard-yellow: #c5b672;
  --bright-teal: #02ccbc;
  --forest-green: #75eec1;
  --teal-green: #00625f;
  --berry-purple: #7c287f;
}

